__pycache__
*.xml
*.tmp
config.yaml
dist/
build/
static/anti_bot*
static/test.html
static/fix.html
*.pyc
dock_build.bat
./db.db
.vscode/launch.json
*.log
item
static/cache
static/wx_qrcode.png
data
build
dist
data1
doc2pdf/*.docx
doc2pdf/*.pdf
demo.txt
test.yaml
.venv
.idea
.travis
test.py
.codeartsdoer
.DS_Store
.codeflicker/